<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>
      Виконала студентка КН-31, Грабець Наталія, варіант 1
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="p_background">Задано три числа.
        Знайти суму кубів
        тих з них, які кратні
        7.</p>
  
      <ion-item>
        <ion-label position="floating">Перше число</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Третє число</ion-label>
        <ion-input type="number" id="с" value="3" #Inputc></ion-input>
      </ion-item>


      <ion-button expand="block" (click)="ras(Inputa.value, Inputb.value, Inputc.value)">Розрахувати</ion-button>
        <ion-item>
          <p>Результат обчислення: {{d}}</p>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
